/* Custom Styles */

*{
	letter-spacing: -.03ex;
}

.main-nav{
	margin-top: 1.1em;
}

.container-narrow{
	width: 740px;
}

.jumbotron{
	padding-top: 80px;
	background-color: #996B8F;
	color: #fff;
	margin-bottom: 0;
}

.jumbotron h1{
	font-family: "Bevan";
	text-align: center;
}

@media (min-width: 992px){

.jumbotron h1{
	font-size: 5em;
	text-align: left;
}

}

.navbar{
	border-radius: 0;
	margin-bottom: 0;
	position: fixed;
	width: 100%;
}

.jumbotron h1{
	font-size: 4em;
	text-align: left;
}