// Roboto Slab
// ---------------

// Weights: 100, 300, 400, 700
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

@font-face {
    font-family: 'Roboto Slab';
    src: url('@{fonts-path}/roboto-slab/robotoslab-bold.eot');
    src: url('@{fonts-path}/roboto-slab/robotoslab-bold.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/roboto-slab/robotoslab-bold.woff2') format('woff2'),
         url('@{fonts-path}/roboto-slab/robotoslab-bold.woff') format('woff'),
         url('@{fonts-path}/roboto-slab/robotoslab-bold.ttf') format('truetype'),
         url('@{fonts-path}/roboto-slab/robotoslab-bold.svg#roboto_slabbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Slab';
    src: url('@{fonts-path}/roboto-slab/robotoslab-regular.eot');
    src: url('@{fonts-path}/roboto-slab/robotoslab-regular.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/roboto-slab/robotoslab-regular.woff2') format('woff2'),
         url('@{fonts-path}/roboto-slab/robotoslab-regular.woff') format('woff'),
         url('@{fonts-path}/roboto-slab/robotoslab-regular.ttf') format('truetype'),
         url('@{fonts-path}/roboto-slab/robotoslab-regular.svg#roboto_slabregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Slab';
    src: url('@{fonts-path}/roboto-slab/robotoslab-thin.eot');
    src: url('@{fonts-path}/roboto-slab/robotoslab-thin.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/roboto-slab/robotoslab-thin.woff2') format('woff2'),
         url('@{fonts-path}/roboto-slab/robotoslab-thin.woff') format('woff'),
         url('@{fonts-path}/roboto-slab/robotoslab-thin.ttf') format('truetype'),
         url('@{fonts-path}/roboto-slab/robotoslab-thin.svg#roboto_slabthin') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Slab';
    src: url('@{fonts-path}/roboto-slab/robotoslab-light.eot');
    src: url('@{fonts-path}/roboto-slab/robotoslab-light.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/roboto-slab/robotoslab-light.woff2') format('woff2'),
         url('@{fonts-path}/roboto-slab/robotoslab-light.woff') format('woff'),
         url('@{fonts-path}/roboto-slab/robotoslab-light.ttf') format('truetype'),
         url('@{fonts-path}/roboto-slab/robotoslab-light.svg#roboto_slablight') format('svg');
    font-weight: 300;
    font-style: normal;

}



