/*LOGIN/REGISTRO*/



.log-tabs{
	margin-top: 25px;

	.tab-content h3{
		color: #fff;
		margin-top: 0;
		margin-bottom: 25px;
	}
}



.nav-tabs{
	border-bottom: 1px solid transparent;
	
	a{
		background-color: rgba(255,255,255,0.05);
		color: #fff;
		border-color:rgba(255,255,255,0.2); 
		border-bottom: none;
	}

}

.nav-tabs li.active a{
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	border-color:rgba(255,255,255,0.2); 
	border-bottom: none;
}

.nav-tabs li.active a:hover{
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	border-color:rgba(255,255,255,0.2);
	border-bottom: none;
}

.nav-tabs li a:hover{
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	border-color:rgba(255,255,255,0.2); 
}

.nav-tabs li.active a:focus{
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	border-color:rgba(255,255,255,0.2);
	outline: none;
}

#log{
	background-color: rgba(255,255,255,0.2);
	padding: 10px;
	border: 1px solid rgba(255,255,255,0.2);
}

.form-control{
	border:none;
	border-radius: 0;
	height: 30px;
}