<footer>
	<div class="container">
		<div class="col-lg-6 col-md-6">
			<h2>Alcuino: Curso de Tipografía</h2>
			<p><strong>Alcuino</strong> es un proyecto desarrollado por el alumno <a style="text-decoration:underline;" target="_blank" href="http://wiki.ead.pucv.cl/index.php/Mauro_Villena">Mauro Villena</a> de la carrera de Diseño Gráfico en la e[ad] Escuela de Arquitectura y Diseño de la Pontificia Universidad Católica de Valparaíso, para Taller de Titulación.</p>
		</div>
		<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
			<h2>Documentación</h2>
			<ul>
				<a target="_blank" href="http://wiki.ead.pucv.cl/index.php/Estudio_Tipogr%C3%A1fico"><li>Wiki Casiopea</li></a>
				<a target="_blank" href="http://github.com/maurovillena/jbbt"><li>Repositorio en Github</li></a>
				<a href="https://cmapscloud.ihmc.us/viewer/cmap/1P8YXGH7Q-128JN4X-L5"><li>Mapa Conceptual</li></a>
				<a  href="{{ site.baseurl }}/pags/contenidos"><li>Arquitectura de Contenidos</li></a>
				<a href="{{ site.baseurl }}/pags/bibliografia"><li>Bibliografía</li></a>
				<a href="{{ site.baseurl }}/pags/alcuino"><li>¿Por qué Alcuino?</li></a>
			</ul>
		</div>
	</div>
</footer>