<footer>
	<div class='container'>
		<div class='row'>
			<div class='col-md-4'>
				<nav class="fa-ul">
					
					<li><i class="fa-li fa fa-file-text-o"></i><a href="http://wiki.ead.pucv.cl/index.php?title=MediaFranca">Documentación del Proyecto en Casiopea</a></li>
					<li><i class="fa-li fa fa-code"></i><a href="http://www.github.com/mediafranca/fundamentos">Proyecto en Github</a></li>
				</nav>
			</div>
			<div class='col-md-4'>
				<nav class='fa-ul'>
					<li><i class="fa-li fa fa-university"></i><a href="http://www.ead.pucv.cl">e[ad] Escuela de Arquitectura y Diseño<br>Pontificia Universidad Católica de Valparaíso</a></li>
				</nav>
			</div>
			<div class='col-md-4'>
				<nav class='fa-ul'>
					<li><i class="fa-li fa fa-envelope"></i><a href="{{ site.baseurl }}/pags/equipo">Contáctanos</a></li>
				</nav>
			</div>
		</div> 
	</div>
</footer>
