<!DOCTYPE html>

<html lang="es" xml:lang="es">

<head>

	<meta charset='UTF-8'/>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>{{ page.title }} - Alcuino: Fundamentos de la comunicación tipográfica</title>
	<meta name='author' content='{{ site.author }}'>
	<!-- <link rel='icon' type='image/x-icon' href='{{ site.baseurl }}/favicon.ico' /> -->
	<!-- stylesheet -->
	<link href='{{ site.baseurl }}/css/style.css' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- scripts -->
	<script type='text/javascript' src='{{ site.baseurl }}/js/jquery.min.js'></script>
	<script type='text/javascript' src='{{ site.baseurl }}/js/bootstrap.min.js'></script>
	<script language="javascript" type="text/javascript" src="{{ site.baseurl }}/js/p5.min.js"></script>
	<script language="javascript" type="text/javascript" src="{{ site.baseurl }}/js/p5.sound.js"></script>
	<script type='text/javascript' type="text/javascript" src='{{ site.baseurl }}/js/p5.dom.js'></script>
</head>