<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>Grilla & Tipografía <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<li><a href='{{ site.baseurl }}/pages/tipos'>Tipos</a></li>
		<li><a href='{{ site.baseurl }}/pages/grilla'>Grilla</a></li>
		<li><a href='{{ site.baseurl }}/pages/iconos'>Íconos</a></li>
	</ul>
</li>
<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>Tablas & Bloques <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<li><a href='{{ site.baseurl }}/pages/tablas'>Tablas</a></li>
		<li><a href='{{ site.baseurl }}/pages/estudios'>Estudios</a></li>
		<li><a href='{{ site.baseurl }}/pages/fuentes'>Fuentes</a></li>
		<li><a href='{{ site.baseurl }}/pages/planes'>Planes</a></li>
	</ul>
</li>
<li><a href='{{ site.baseurl }}/pages/formularios-y-botones'>Formularios & Botones</a></li>
<li><a href='{{ site.baseurl }}/pages/visualizaciones'>Visualizaciones</a></li>
<li><a href='{{ site.baseurl }}/pages/embebibles'>Embebibles</a></li>