<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/brand.svg"> Alcuino</a>
            </div>

             <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Registrate</a></li>
              <li><a href="{{ site.baseurl }}/pags/indice">Iniciar Sesión</a></li>
             </ul>

<!--
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-external-link fa-fw"></i> Enlaces</a>
                <ul class="dropdown-menu">
                  <li><a  href="{{ site.baseurl }}/pags/contenidos">Arquitectura de Contenidos</a></li>
                  <li><a target="_blank" href="https://cmapscloud.ihmc.us/viewer/cmap/1P8YXGH7Q-128JN4X-L5">Mapa conceptual</a></li>
                  <li><a target="_blank" href="http://github.com/maurovillena/jbbt">Repositorio en Github</a></li>
                  <li><a target="_blank" href="http://wiki.ead.pucv.cl/index.php/Estudio_Tipogr%C3%A1fico">Documentación Wiki Casiopea</a></li>
                  <li><a  href="{{ site.baseurl }}/pags/mostrario">Mostrario de estilos del sitio</a></li>
                </ul>
              </li>
            </ul>
			    -->
			</div>
</nav>