<ul class="nav nav-pills pull-right" >
  
  {% if page.active == 'home' %}
  <li class='active'><a href="{{ site.baseurl }}/"><i class='fa fa-home'></i></a></li>
  {% else %}
  <li><a href="{{ site.baseurl }}/"><i class='fa fa-home'></i></a></li>
  {% endif %}

  {% if page.active == 'proyecto' %}
  <li class='active'><a href="{{ site.baseurl }}/pags/proyecto"><i class='fa fa-cube'></i> Proyecto</a></li>
  {% else %}
  <li><a href="{{ site.baseurl }}/pags/proyecto"><i class='fa fa-cube'></i> Proyecto</a></li>
  {% endif %}

  {% if page.active == 'presentacion' %}
  <li class='active'><a href="{{ site.baseurl }}/pags/presentacion"><i class='fa fa-desktop'></i> Presentación</a></li>
  {% else %}
  <li><a href="{{ site.baseurl }}/pags/presentacion"><i class='fa fa-desktop'></i> Presentación</a></li>
  {% endif %}

  {% if page.active == 'equipo' %}
  <li class='active'><a href="{{ site.baseurl }}/pags/equipo"><i class='fa fa-users'></i> Equipo</a></li>
  {% else %}
  <li><a href="{{ site.baseurl }}/pags/equipo"><i class='fa fa-users'></i> Equipo</a></li>
  {% endif %}
  
  <!--
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      ...
    </ul>
  </li>
  ...
  -->
</ul>
