<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ site.baseurl }}/">Curso de Tipografía</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
 			 	
 			 		<li><a target="_blank" href="https://cmapscloud.ihmc.us/viewer/cmap/1P8YXGH7Q-128JN4X-L5">Mapa de conceptos</a></li>
			    </ul>
			    
			</div>
    </div><!-- /.container-fluid -->
</nav>