<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/brand.svg"> Alcuino</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-external-link fa-fw"></i> Enlaces</span></a>
            <ul class="dropdown-menu">
              <li><a  href="{{ site.baseurl }}/pags/contenidos">Arquitectura de Contenidos</a></li>
              <li><a target="_blank" href="https://cmapscloud.ihmc.us/viewer/cmap/1P8YXGH7Q-128JN4X-L5">Mapa conceptual</a></li>
              <li><a target="_blank" href="http://github.com/maurovillena/jbbt">Repositorio en Github</a></li>
              <li><a target="_blank" href="http://wiki.ead.pucv.cl/index.php/Estudio_Tipogr%C3%A1fico">Documentación Wiki Casiopea</a></li>
              <li><a  href="{{ site.baseurl }}/pags/mostrario">Mostrario de estilos del sitio</a></li>
            </ul>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i> Usuario</a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl}}/pags/indice">Ver Progreso</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Ayuda</a></li>
<!--            <li><a href="{{ site.baseurl }}/">Cerrar sesión</a></li> -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>