<div class="sidebar lec">

<h4>{{ page.title }}</h4>
	
	<ul>
		<li>
			{% if page.active == 'Introducción' %}
				<a class="activo" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i>Introducción</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-09"><i class="fa fa-youtube-play" aria-hidden="true"></i>Introducción</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'Trazo estructural' %}
				<a class="activo" href="#"><i class="fa fa-align-left" aria-hidden="true"></i>Trazo estructural</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-10"><i class="fa fa-align-left" aria-hidden="true"></i>Trazo estructural</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'Astas' %}
				<a class="activo" href="#"><i class="fa fa-align-left" aria-hidden="true"></i>Astas</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-11"><i class="fa fa-align-left" aria-hidden="true"></i>Astas</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'Forma y contraforma' %}
				<a class="activo" href="#"><i class="fa fa-align-left" aria-hidden="true"></i>Forma y contraforma</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-12"><i class="fa fa-align-left" aria-hidden="true"></i>Forma y contraforma</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'Terminaciones' %}
				<a class="activo" href="#"><i class="fa fa-align-left" aria-hidden="true"></i>Terminaciones</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-14"><i class="fa fa-align-left" aria-hidden="true"></i>Terminaciones</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'Prueba' %}
				<a class="activo" href="#"><i class="fa fa-cubes" aria-hidden="true"></i>Prueba</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-15"><i class="fa fa-cubes" aria-hidden="true"></i>Prueba</a>
			{% endif %}
		</li>
	</ul>

<h4>Completado:</h4>


<div class="progress">
{% if page.active == 'Introducción' %}
  <div class="progress-bar" role="progressbar" aria-valuenow="1/6"
  aria-valuemin="0" aria-valuemax="100" style="width: 16.6%;">
{% endif %}
{% if page.active == 'Trazo estructural' %}
	<div class="progress-bar" role="progressbar" aria-valuenow="1/6"
  aria-valuemin="0" aria-valuemax="100" style="width: 33.3%;">
{% endif %}
{% if page.active == 'Astas' %}
	<div class="progress-bar" role="progressbar" aria-valuenow="1/6"
  aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
{% endif %}
{% if page.active == 'Forma y contraforma' %}
	<div class="progress-bar" role="progressbar" aria-valuenow="1/6"
  aria-valuemin="0" aria-valuemax="100" style="width: 66.6%;">
{% endif %}
{% if page.active == 'Terminaciones' %}
	<div class="progress-bar" role="progressbar" aria-valuenow="1/6"
  aria-valuemin="0" aria-valuemax="100" style="width: 83.3%;">
{% endif %}
{% if page.active == 'Prueba' %}
	<div class="progress-bar" role="progressbar" aria-valuenow="1/6"
  aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
{% endif %}
    <span class="sr-only">1/6</span>
  </div>
</div>

	<div>
		<a class="btn btn-primary pull-left" href="{{ site.baseurl }}/pags/{{ page.anterior }}">Anterior</a>
		{% if page.active == 'Prueba' %}
		<a id="siguiente" class="btn btn-primary pull-right" style="display:none;" href="{{ site.baseurl }}/pags/{{ page.siguiente }}">Siguiente</a>

		<a id="siguiente-desactivado" class="desactivado btn btn-primary pull-right" style="display:block;" href="{{ site.baseurl }}/pags/{{ page.siguiente }}">Siguiente</a>
		{% else %}
		<a class="btn btn-primary pull-right" href="{{ site.baseurl }}/pags/{{ page.siguiente }}">Siguiente</a>
		{% endif %}
	</div>
</div>