<div class="sidebar">

<h4>{{ page.title }}</h4>
	
	<ul>
		<li>
			{% if page.active == 'introduccion' %}
				<a class="activo" href="#">Introducción</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-01">Introducción</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'linea de base' %}
				<a class="activo" href="#">Línea de base</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-02">Línea de base</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'altura ascendente' %}
				<a class="activo" href="#">Altura ascendente</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-03">Altura ascendente</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'altura de x' %}
				<a class="activo" href="#">Altura de x</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-04">Altura de x</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'altura descendente' %}
				<a class="activo" href="#">Altura descendente</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-05">Altura descendente</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'rebarba' %}
				<a class="activo" href="#">Rebarba</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-06">Rebarba</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'cuerpo' %}
				<a class="activo" href="#">Cuerpo</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-07">Cuerpo</a>
			{% endif %}
		</li>
		<li>
			{% if page.active == 'prueba-01' %}
				<a class="activo" href="#">Prueba</a>
			{% else %}
				<a href="{{ site.baseurl }}/pags/lecc-08">Prueba</a>
			{% endif %}
		</li>
	</ul>

<h4>Completado:</h4>


<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="1/6"
  aria-valuemin="0" aria-valuemax="100" style="width: {{ page.percent }}">
    <span class="sr-only">1/6</span>
  </div>
</div>

	<div>
		<a class="btn btn-primary pull-left" href="{{ site.baseurl }}/pags/{{ page.anterior }}">Anterior</a>
		<a class="btn btn-primary pull-right" href="{{ site.baseurl }}/pags/{{ page.siguiente }}">Siguiente</a>
	</div>
</div>