<hr />

<p>layout: slides</p>

<h2>title: &ldquo;MediaFranca: Una introducción&rdquo;</h2>

<!-- This space is intentionally left blank -->


<p>{% include division.html %}</p>

<div class='container tcenter'>
    <h1 class='jumbo'><span>media</span>franca</h1>
    <p class='bold'>Comisión Participación y Democracia PUCV</p>
    <div class='row' style='margin: 200px 0 0 20px;'>
    <div class='bio col-md-4 col-md-offset-2'>
        <h4>Herbert Spencer</h4>
        <span class='label label-primary'><a href="http://twitter.com/hspencer"><i class='fa fa-twitter'></i> @hspencer</a></span>
        <p>Diseñador de Interacción y Profesor de Diseño, <a href="http://www.ead.pucv.cl">e[ad] Escuela de Arquitectura y Diseño PUCV</a></p>
    </div>
    <div class='col-md-4 bio'>
        <h4>Francisco Vera</h4>
        <span class='label label-primary'><a href="http://twitter.com/pancho_vm"><i class='fa fa-twitter'></i> @pancho_vm</a></span>
        <p>Diseñador e[ad] Escuela de Arquitectura y Diseño PUCV, Jefe de Diseño en <a href="http://www.ayerviernes.com">AyerViernes</a></p>
    </div>
</div>
    <small class='blue'>
        <i class='fa fa-keyboard-o fa-2x'></i> usa las flechas del teclado <i class="fa fa-arrow-left"></i> <i class="fa fa-arrow-right"></i> para navegar esta presentación.
    </small>
</div>


<p>{% include division.html %}</p>

<div class='bk bk-black'>{% include back.html %}
    <div class="container">
        <h2 class='title'>¿por qué?</h2>
        <img class='illustration' src="{{ site.baseurl }}/images/meta-diseno.svg">
    </div>
</div>


<p>{% include division.html %}</p>

<div class='container'>
    <!-- la motivaciones -->
<h2 class='title'>Miedos y Mitos de la democracia electrónica</h2>
    <ul>
        <li>Sezgo en la representación
            <ul>
                <li>Plataforma no inclusiva o universal por problemas de diseño o lenguaje (usabilidad)</li>
            </ul>
        </li>
        <li>Expectativas demasiado altas
            <ul>
                <li>Desilusión al ver que la voz individual queda sumergida en la irrelevancia de la masa participante y que la participación democrática en un ámbito distribuído requiere del trabajo de los involucrados. La democracia digital no tiene que ver con automatización de los procesos.</li>
            </ul>
        </li>
        <li>Apatía
            <ul>
                <li>Pérdida paulatina de interés en el canal mismo como medio de participación</li>
            </ul>
        </li>
        <li>Falta de educación cívica</li>
        <li>Exclusión digital
            <ul>
                <li>No todos poseen las competencias requeridas</li>
                <li>No todos tienen acceso a la tecnología</li>
            </ul>
        </li>
        <li>Problemas de escala
            <ul>
                <li>Elección de tecnologías apropiadas</li>
                <li>Asincronisidad extrema en el proceso deliberativo</li>
            </ul>
        </li>
    </ul>
</div>


<p>{% include division.html %}</p>

<div class='bk bk-white'>
    <div class='container'>
        <!-- marco teórico general: modelo mediafranca -->
        <h2 class='title tcenter'>Componentes Básicos</h2>
        <br><br>
        <div class='row '>
            <div class='col-sm-4 tcenter'>
                <div class='circle'>información</div>
                <br>
                <p>acceso libre y desintermediado</p>
            </div>
            <div class='col-sm-4 tcenter'>
                <div class='circle'>reglas del juego</div>
                <br>
                <p>procedimientos consensuados</p>
            </div>
            <div class='col-sm-4 tcenter'>
                <div class='circle'>plataforma</div>
                <br>
                <p>espacios y herramientas</p>
            </div>
        </div>
    </div>
</div>


<p>{% include division.html %}</p>

<div class='bk bk-black'>
    <div class='container'>
        <div class='row '>
            <div class='col-sm-12 tcenter'>
                <div class='circle-big'><div class='text'>Esfera Pública</div></div>
                <p>Es necesario que el espacio digital pueda constituirse como esfera pública con el estatuto de <strong>espacio público</strong>
            , patrimonio del "nosotros" y también como <em>registro público</em> del debate democrático.</p>
            </div>
        </div>
    </div>
</div>


<p>{% include division.html %}</p>

<div class='container'>
    <h2 class='title tcenter'>Espacio individual</h2>
    <img class='illustration now90' src="{{ site.baseurl }}/images/modelos-experiencias-esp-individual.svg">
</div>


<p>{% include division.html %}</p>

<div class='container'>
    <h2 class='title tcenter'>Espacio colectivo</h2>
    <img class='illustration now90' src="{{ site.baseurl }}/images/modelos-experiencias-esp-colectivo.svg">
</div>


<p>{% include division.html %}</p>

<div class='container'>
    <h2 class='title'>4 Modelos de Democracia Digital</h2>
    <ol>
        <li>Modelo de redes sociales</li>
        <li>Modelo de medición de opinión pública</li>
        <li>Modelo plebiscitario directo</li>
        <li>Modelo inclusivo deliberativo</li>
    </ol>
</div>


<p>{% include division.html %}</p>

<div class='container'>
    <h2 class='title tcenter'>Modelo de redes sociales</h2>
    <img class='illustration' src="{{ site.baseurl }}/images/modelo-democracia-m1.svg">
</div>


<p>{% include division.html %}</p>

<div class='container'>
    <h2 class='title tcenter'>Modelo de medición de opinión pública</h2>
    <img class='illustration' src="{{ site.baseurl }}/images/modelo-democracia-m2.svg">
</div>


<p>{% include division.html %}</p>

<div class='container'>
    <h2 class='title tcenter'>Modelo plebiscitario directo</h2>
    <img class='illustration' src="{{ site.baseurl }}/images/modelo-democracia-m3.svg">
</div>


<p>{% include division.html %}</p>

<div class='container'>
    <h2 class='title tcenter'>Modelo inclusivo deliberativo</h2>
    <img class='illustration' src="{{ site.baseurl }}/images/modelo-democracia-m4.svg">
</div>


<p>{% include division.html %}</p>

<div class='bk bk-black'>
    <div class='container'>
        <div class='vcenter'>
            <h2 class="w100 tcenter">¿Cómo avanzamos desde la Universidad?</h2>
        </div>
    </div>  
</div>


<p>{% include division.html %}</p>

<div class='container'>
<h2 class='title'>Preguntas Clave</h2>
    <ul>
        <li>¿cómo se origina una agenda verdaderamente abierta?
        <ul>
            <li>canales y mecanismos de publicación / ascripción</li>
            <li>definir las reglas de la relevancia pública</li>
        </ul>
        </li>
        <li>¿a quién se abre la participación?
        <ul>
            <li>universo</li>
            <li>plazos</li>
        </ul>
        </li>
        <li>¿cómo son los mecanismos deliberativos?
            <ul>
                <li>reglas de relevancia / visibilidad</li>
                <li>reglas de maleabilidad / reversibilidad</li>
            </ul>
            </li>
        <li>¿cómo se implementan los acuerdos?
            <ul>
                <li>poder vinculante de la plataforma</li>
                <li>nivel de involucramiento de la comunidad</li>
            </ul>
        </li>
        <li>¿cómo se fiscalizan?
            <ul>
                <li>Registro público transparente</li>
                <li>Suscripción a notificaciones y alarmas</li>
            </ul>
        </li>
    </ul>
</div>


<p>{% include division.html %}</p>

<div class='bk bk-white'>
    {% include back.html %}
    <div class='container h90'>
        <h2 class='title'>Proyectos Similares</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class='small'>          
                    <li><strong>BetterMeans</strong> (URL http://bettermeans.com/)</li>
                    <li><strong>Boston Citizens Connect</strong> (URL http://itunes.apple.com/cl/app/boston-citizens-connect/id330894558?mt=8)</li>
                    <li><strong>Change by Us</strong> (Local Projects, URL http://changeby.us/)</li>
                    <li><strong>Citizenspace</strong> (Delib Limited, URL https://www.citizenspace.com/info)</li>
                    <li><strong>Ciudad Viva</strong> (URL http://www.ciudadviva.cl/)</li>
                    <li><strong>ConvinceMe</strong> (URL http://www.convinceme.net/)</li>
                    <li><strong>D-CENT</strong> (URL http://dcentproject.eu/)</li>
                    <li><strong>Debategraph</strong> (URL http://debategraph.org/)</li>
                    <li><strong>Democracy OS</strong> (URL http://democracyos.org/)</li>
                    <li><strong>Dialogue-app</strong> (Delib Limited, URL http://dialogue-app.com/info/)</li>
                    <li><strong>Proyecto Estorninos</strong> (Joaquín Martel, Jaime Pérez Moena, URL http://estorninos.ead.pucv.cl)</li>
                    <li><strong>EveryBlock</strong> (URL http://www.everyblock.com/)</li>
                    <li><strong>FixMyStreet</strong> (URL http://www.fixmystreet.com/)</li>
                    <li><strong>GNU.Free</strong> (Free Software Foundation, URL http://www.jasonkitcat.com/dev/)</li>
                    <li><strong>Give a Minute</strong> (URL http://giveaminute.info/)</li>
        </ul></div>
            <div class="col-md-6">
                <ul class='small'>
                    <li><strong>MeetUp</strong> (URL http://www.meetup.com/)</li>
                    <li><strong>Mindmixer</strong> (URL http://www.mindmixer.com/)</li>
                    <li><strong>Neighborhood Notes</strong> (URL http://www.neighborhoodnotes.com/)</li>
                    <li><strong>Nueva Región, Cómo Vamos</strong> (URL http://www.losrioscomovamos.cl/)</li>
                    <li><strong>Open Ideo</strong> (Ideo, URL http://openideo.com/)</li>
                    <li><strong>PlaceSpeak</strong> (PlaceSpeak Inc., URL https://www.placespeak.com/)</li>
                    <li><strong>Pledge Bank</strong> (URL http://www.pledgebank.com/)</li>
                    <li><strong>PortoAlegre.cc</strong> (URL http://www.portoalegre.cc/)</li>
                    <li><strong>Projects for Public Spaces</strong> (URL http://www.pps.org/)</li>
                    <li><strong>Seeclickfix</strong> (URL http://www.seeclickfix.com)</li>
                    <li><strong>Tactical Tech</strong> (URL http://www.tacticaltech.org/)</li>
                    <li><strong>Urbanology Online</strong> (Fundación Guggenheim, BMW, URL http://www.bmwguggenheimlab.org/urbanologyonline)</li>
                    <li><strong>Ushahidi</strong> (URL http://www.ushahidi.com/)</li>
                    <li><strong>Vote Stream</strong> (Trust the Vote, URL http://votestream.trustthevote.org/)</li>
                    <li><strong>Ziudad</strong> (URL http://www.ziudad.es/)</li>
                </ul>
            </div>
        </div>

    </div>
</div>


<p>{% include division.html %}</p>

<div class='bk bk-black'>
    <div class='container'>
        <div class='vcenter'>
            <div class='tcenter w100'>
                disponible en:<br>
                <strong>http://mediafranca.github.io/fundamentos</strong>
            </div>
        </div >
    </div>  
</div>

