<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include navsession.html %}
	<body>
		<div class='seccion dos first'>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ol class="breadcrumb">
							<li><a href="{{ site.baseurl }}/pags/indice">Índice</a></li>
							<li>{{ page.etapa }}</li>
						</ol>
					</div>
				</div>

				<div class="row">
					<div class="col-md-7">
						{{ content }}
					</div>
					<div class="col-md-4 col-md-offset-1">
						{% include sidebar-01.html %}
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>